{% extends 'tour/base.html' %}
{% load staticfiles %}
<html>
<body>
    <div class="content container">
        <div class="merch">
            <div class="col-md-8">
                {% block content %}
                {% for merch in merch_all %}
                <div class="merch">
                    <h1><a href="{% url 'merch_detail' mk=merch.pk %}">{{ merch.name }}</a></h1>
                    <p>Type: {{ merch.merch_type }}</p>
                    <p>Quantity: {{ merch.quantity }}</p>
                    <!-- <a class="btn btn-default" href="% url 'merch_detail' mk=merch.mk %"><span class="glyphicon glyphicon-plus"></span></a> -->
                    <!-- <span class="glyphicon glyphicon-plus"></span>
                    <span class="glyphicon glyphicon-minus"></span> -->
                </div>
                {% endfor %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
